.navbar__logo,
.navbar__link {
  color: $color-accent;
}

.navbar__link:hover {
  background-color: $color-shadow;
}

.navbar__item {
  text-align: right;
}

.custom-wrapper {
  background-color: $color-primary;
  height: 2.1em;
  margin-bottom: 1em;
  overflow: hidden;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 8.8em;
}

.custom-toggle {
  display: none;
  height: 34px;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

.custom-toggle .bar {
  background-color: $color-accent;
  border-radius: 100px;
  display: block;
  height: 2px;
  position: absolute;
  right: 7px;
  top: 18px;
  transition: all 0.5s;
  width: 20px;
}

.custom-toggle .bar:first-child {
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
  .navbar__item {
    text-align: left;
  }

  .custom-toggle {
    display: block;
  }
}
