.form {
  align-items: center;
  background-image:
    url('../images/misty-wood.jpeg'),
    linear-gradient($color-p-light, $color-s-light);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  min-height: calc(100vh - #{$large-height});
  padding: 0 1em;

  @include lg {
    align-items: center;
    flex-wrap: nowrap;
  }

  &__heading {
    margin-bottom: 1em;
  }

  &__text {
    line-height: 1.5em;
    margin-top: 0.5em;
  }

  &__heading,
  &__text {
    @include lg {
      flex: 1 1 100%;
    }
  }

  &__description,
  &__body {
    align-content: center;
    background-color: rgba(250, 250, 250, 0.3);
    display: flex;
    flex-wrap: wrap;
    max-width: 35.5em;
    min-width: 0;
    padding: 0.5em;

    @include lg {
      align-content: flex-start;
      flex: 1 1 100%;
      height: 24em;
      padding: 1em;
    }
  }

  &__description {
    @include lg {
      margin-right: 7em;
    }
  }

  &__user,
  &__message,
  &__file {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    min-width: 0;
  }

  &__label,
  &__input,
  &__textarea {
    flex: 1 1 100%;
    min-width: 0;
  }

  &__label {
    @include sm {
      flex: 1 1 25%;
    }
  }

  &__textarea {
    min-height: 6.5em;
  }

  &__input,
  &__textarea {
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.2em;

    @include sm {
      flex: 1 1 75%;
    }
  }

  &__button {
    background-color: $color-s-dark;
    border: 0;
    color: $color-primary;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 0.5em;
    padding: 0.5em;
    transition: all 0.5s;
    width: 12em;

    &:hover {
      background-color: $color-p-light;
      color: $color-s-dark;
    }
  }

  &__note {
    font-size: 0.8em;
    margin: 0.4em 0;
  }

  &__input--hidden {
    display: none;
  }
}
