// colors
$color-black: #000;
$color-white: #fff;

$color-primary: #212121;
$color-p-light: #484848;
$color-p-dark: $color-black;

$color-secondary: #fafafa;
$color-s-light: $color-white;
$color-s-dark: #c7c7c7;

$color-accent: $color-secondary;

// sizes
$max-width: 1280px;
$base-height: 2em;

// miscellaneous
$menu-items: 3;
