// colors
$color-black: #000;
$color-white: #fff;

$color-primary: #212121;
$color-p-light: #484848;
$color-p-dark: $color-black;

$color-secondary: #fafafa;
$color-s-light: $color-white;
$color-s-dark: #c7c7c7;

$color-accent: $color-secondary;
$color-accent-dim: &color-s-dark;

// sizes
$max-width: 80em;
$base-height: 2em;
$large-height: 3em;

// miscellaneous & website specific
$menu-items: 3;
